@import url(./xxl/xxlset.css) screen and (min-width: 1400px);
@import url(./xl/xlset.css) screen and (min-width: 1200px) and (max-width: 1400px);
@import url(./lg/lgset.css) screen and (min-width: 992px) and (max-width: 1200px);
@import url(./md/mdset.css) screen and (min-width: 768px) and (max-width: 992px);
@import url(./sm/smset.css) screen and (min-width: 576px) and (max-width: 768px);
@import url(./xs/xsset.css) screen and (max-width: 576px);

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: iransans;
  src: url(/font/IRANSansWeb-Medium.eot);
  src: url(/font/IRANSansWeb-Medium.ttf);
  src: url(/font/IRANSansWeb-Medium.woff);
  src: url(/font/IRANSansWeb-Medium.woff2);
}
