div.topsec {
  height: 1100px;
//   background-color: bisque;
  direction: rtl;
  font-family: iransans;
  > div.secdic {
    width: 710px;
    height: 370px;
    margin: 0 auto;
    // background-color: aquamarine;
    padding-bottom: 55px;
    > div.sectitle {
      width: 125px;
      height: 30px;
    //   background-color: aqua;
      > p {
        font-size: 20px;
        color: #ff0000;
      }
    }
    > div.sectext {
      line-height: 35px;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: #818588;
      text-align: justify;
    }
  }
  div.secdic-2 {
    width: 710px;
    height: 160px;
    margin: 0 auto;
    // background-color: aquamarine;
    > div.sectitle {
      width: 160px;
      height: 30px;
    //   background-color: aqua;
      > p {
        font-size: 20px;
        color: #ff0000;
      }
    }
    > div.sectext {
      line-height: 35px;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: #818588;
      text-align: justify;
    }
  }
  div.secpro{
    display: none;
  }
}
