div.headmenu {
  width: 100%;
  height: 165px;
  background-image: url(/img/header-back.png);
  text-align: center;
  font-family: iransans;
  > div.headlogo {
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    > img {
      width: 170px;
      height: 105px;
      position: relative;
      top: 10px;
      object-fit: contain;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > div.main-menu {
    width: 100%;
    height: inherit;
    // background-color: aqua;
    position: relative;
    top: 15px;
    // right: 100px;
    direction: rtl;
    > nav {
      width: inherit;
      height: auto;
      > ul {
        width: inherit;
        height: auto;
        text-align: center;
        list-style: none;

        > li {
          width: auto;
          height: auto;
          display: inline-block;
          position: relative;
          vertical-align: top;
          transition: 300ms;
          > a {
            color: #afb2b4;
            text-decoration: none;
            width: inherit;
            padding: 6px 15px;
            display: inline-block;
            line-height: 50px;
            font-size: 17px;
            transition: 300ms;
            &:hover {
              color: white;
            }
          }
          div.submenu {
            width: auto;
            height: auto;
            background-color: aqua;
            display: none;
            > ul {
              width: inherit;
              height: auto;
              list-style: none;
              text-align: right;
              position: absolute;
              top: 50px;
              right: 0;
              z-index: 100;
              > li {
                width: 190px;
                height: auto;
                background-color: #2d2d2d;
                padding-right: 10px;
                > a {
                  color: #afb2b4;
                  text-decoration: none;
                  width: inherit;
                  line-height: 43px;
                  font-size: 17px;
                  transition: 300ms;
                  &:hover {
                    color: white;
                  }
                }
              }
            }
          }
          &:hover > div.submenu {
            display: block;
          }
        }
      }
    }
  }
}
#close {
  display: none;
}
#open {
  display: none;
}
label[for="open"] {
  display: none;
}
label[for="close"] {
  display: none;
}
