div.endsec {
  font-family: iransans;
  direction: rtl;
  div.endartic {
    width: 100%;
    height: 600px;
    background-color: #105153;
    border-bottom: 20px solid #e9d69f;
    > div.endartext {
      width: 300px;
      height: 40px;
      margin: 0 auto;
      padding-top: 250px;
      text-align: center;
      > p {
        color: #d5ece1;
        font-size: 18px;
      }
    }
    > hr {
      border: 1px solid #0a696d;
      margin-bottom: 10px;
    }
    div.endartitle {
      width: 350px;
      height: 45px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      > p.title-1 {
        color: #009da2;
        font-size: 30px;
        padding-right: 5px;
      }
      > p.title-2 {
        color: #00d8df;
        font-size: 20px;
      }
    }
    div.endartsub {
      width: 125px;
      height: 30px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 2px;
      > p {
        color: #bcbec0;
      }
    }
    div.endartimg {
      width: 400px;
      height: 350px;
      margin: 0 auto;
      z-index: 2;
    }
  }
  hr {
    margin-top: 25px;
  }
  div.endartic-2 {
    width: 90%;
    height: 270px;
    margin: 0 auto;
    padding-top: 150px;
    > span {
      font-size: 20px;
      color: #ff0000;
    }
    > p {
      line-height: 35px;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: #818588;
    }
    > div.endbox {
      margin: 0px;
      margin-top: 10px;
      padding: 10px 20px;
      border: 1px solid #c8c8c8;
      border-radius: 8px;
      color: #7c7d7e;
      text-align: center;
      font-size: 15px;
      background-color: #ffffff;
      text-decoration: none;
      margin-left: 5px;
      margin-bottom: 25px;
      float: right;
      transition: 300ms;
      &:hover {
        color: #ffffff;
        background-color: #ed1c24;
        border: 1px solid #ed1c24;
        cursor: pointer;
      }
    }
  }
  > div.endsocial {
    width: 100%;
    height: 130px;
    background-color: #eeefef;
    border-bottom: 30px solid #ED1C24;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div.socialicon-1 {
      margin: 0px;
      padding: 0px;
      text-align: center;
      background-image: url(../../../../img/icon5-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      text-decoration: none;
      border: 0px;
      opacity: 0.4;
      &:hover {
        background-image: url(../../../../img/icon5.png);
        opacity: 0.9;
        cursor: pointer;
      }
    }
    > div.socialicon-2 {
      margin: 0px;
      padding-right: 3px;
      text-align: center;
      background-image: url(../../../../img/icon4-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      text-decoration: none;
      border: 0px;
      opacity: 0.4;
      &:hover {
        background-image: url(../../../../img/icon4.png);
        opacity: 0.9;
        cursor: pointer;
      }
    }
    > div.socialicon-3 {
      margin: 0px;
      padding-right: 3px;
      text-align: center;
      background-image: url(../../../../img/icon3-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      opacity: 0.4;
      &:hover {
        background-image: url(../../../../img/icon3.png);
        opacity: 0.8;
       cursor: pointer;
      }
    }
    div.socialicon-4 {
      margin: 0px;
      padding-right: 3px;
      text-align: center;
      background-image: url(../../../../img/icon2-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      opacity: 0.4;
      &:hover {
        background-image: url(../../../../img/icon2.png);
        opacity: 0.8;
        cursor: pointer;
      }
    }
    div.socialicon-5 {
      margin: 0px;
      padding-right: 3px;
      text-align: center;
      background-image: url(../../../../img/icon1-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      opacity: 0.4;
      &:hover {
        background-image: url(../../../../img/icon1.png);
        opacity: 0.8;
        cursor: pointer;
      }
    }
    div.socialicon-6 {
      margin: 0px;
      padding-right: 3px;
      text-align: center;
      background-image: url(../../../../img/icon6-1.png);
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      display: inline-block;
      opacity: 0.4;
      &:hover{
        background-image: url(../../../../img/icon6.png);
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
