div.midsec {
    direction: rtl;
    div.secartic {
      width: 100%;
      height: 1000px;
      position: relative;
      > img {
        width: inherit;
        height: 215px;
        object-fit: cover;
      }
      > div.secline {
        width: 100%;
        height: 20px;
        display: none;
        position: absolute;
        bottom: 775px;
        background-color: #e9d69f;
      }
      div.articbox {
        width: 100%;
        height: 100px;
        background-color: #ed1c24;
        position: absolute;
        bottom: 700px;
        > p {
          color: white;
          font-size: 31px;
          font-family: iransans;
          font-weight: 100;
          padding: 5px 20px 0px 0px;
        }
        > span {
          color: white;
          font-size: 20px;
          font-family: iransans;
          font-weight: 100;
          padding: 5px 20px 0px 0px;
        }
      }
      hr {
        border: 1px solid #c8c8c8;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      div.artictext {
        width: 90%;
        height: 300px;
        // background-color: green;
        margin: 0 auto;
        padding-right: 10px;
        padding-top: 120px;
        > p {
          font-size: 20px;
          color: #ff0000;
          font-family: iransans;
        }
        > span {
          line-height: 35px;
          color: #818588;
          font-size: 16px;
          text-align: justify;
          position: relative;
          font-family: iransans;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
        }
        > div.capbox-1 {
          width: 350px;
          height: 50px;
          display: flex;
          // text-align: center;
          > div.capbox-2 {
            width: 120px;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: blueviolet;
            border: 1px solid #c8c8c8;
            border-radius: 8px;
            margin-left: 5px;
            transition: 300ms;
            &:hover {
              background-color: #ed1c24;
              cursor: pointer;
              border: none;
            }
            &:hover > p {
              color: white;
            }
            > p {
              font-family: iransans;
              color: #94979a;
              font-size: 15px;
            }
          }
        }
      }
    }
    div.secbg{
        background-image: url(../../../../img/recipe-baner-1.png);
        height: 250px;
        object-fit: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: inherit;
        
      }
  }
  