div.headmenu {
  width: 100%;
  height: 100px;
  background-image: url(../../../img/header-back.png);
  display: flex;
  position: fixed;
  z-index: 999;
  // position: relative;
  font-family: iransans;
  
  > div.headlogo {
    width: 200px;
    height: 100px;
    display: flex;
    // background-color: aqua;
    justify-content: center;
    position: absolute;
    right: 200px;
    top: 45px;
    > img {
      width: 200px;
      height: 105px;
      object-fit: contain;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > div.main-menu {
    width: 100%;
    height: inherit;
    // background-color: aqua;
    position: relative;
    right: 100px;
    direction: rtl;
    > nav {
      width: inherit;
      height: auto;
      > ul {
        width: inherit;
        height: auto;
        text-align: center;
        list-style: none;

        > li {
          width: auto;
          height: auto;
          display: inline-block;
          position: relative;
          vertical-align: top;
          transition: 300ms;
          > a {
            color: #afb2b4;
            text-decoration: none;
            width: inherit;
            padding: 7px 14px;
            display: inline-block;
            line-height: 100px;
            font-size: 17px;
            transition: 300ms;
            &:hover {
              color: white;
            }
          }
          div.submenu {
            width: auto;
            height: auto;
            background-color: aqua;
            display: none;
            > ul {
              width: inherit;
              height: auto;
              list-style: none;
              text-align: right;
              position: absolute;
              top: 80px;
              right: 0;
              z-index: 100;
              > li {
                width: 190px;
                height: auto;
                background-color: #2d2d2d;
                padding-right: 10px;
                > a {
                  color: #afb2b4;
                  text-decoration: none;
                  width: inherit;
                  line-height: 43px;
                  font-size: 17px;
                  transition: 300ms;
                  &:hover {
                    color: white;
                  }
                }
              }
            }
          }
          &:hover > div.submenu {
            display: block;
          }
        }
      }
    }
  }
}
#close {
	display: none;
}
#open {
	display: none;
}
label[for="open"] {
	display: none;
}
label[for="close"] {
	display: none;
}
