div.headsec {
  height: 500px;  
  display: flex;
  justify-content: center;
  direction: rtl;
  font-family: iransans;
  background-color: #ECECEC;
  div.headdis {
    width: 420px;
    height: 280px;
    position: relative;
    left: 130px;
    top: 100px;
    > div.headtitle {
      width: 160px;
      height: 50px;
      > p {
        font-size: 30px;
        color: #ff0000;
      }
    }
    > div.headsub {
      width: 130px;
      height: 30px;
      > p {
        font-size: 20px;
        color: #58595b;
      }
    }
    > div.headtext {
      width: 400px;
      height: 80px;
      margin-top: 30px;
      > span {
        font-size: 16px;
        color: #898989;
      }
    }
    > div.headbuttom {
      width: 130px;
      height: 50px;
      margin-top: 30px;
      transition: 300ms;
      > a {
        padding: 10px 20px;
        border: 1px solid #c8c8c8;
        background-color: white;
        border-radius: 8px;
        text-decoration: none;
        color: #7c7d7e;
        text-align: center;
        font-size: 15px;
        float: right;
      }
      :hover{
        background-color: red;
        color: white;
      }
    }
  }
  div.headimg {
    width: 260px;
    height: 320px;
    position: relative;
    right: 75px;
    top: 50px;
  }
}
